@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Bitter|Forum');
body {
    font-family: 'Forum', cursive;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bitter', serif;
}
.orange {
    background-color: #D15F18;
    background-image: url(http://www.transparenttextures.com/patterns/wood-pattern.png);
}
.main-text {
    color: white;
    margin-top: 10%;
}
.logo {
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 35px;
    margin: 25px;
}
.circle {
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    text-align: center;
    font-size: 50px;
    margin: 25px;
}
.header {
    border-bottom: 10px solid rgba(82, 119, 171, .3);
}
.blue {
    background-color: #062755;
    border-top: 10px solid rgba(82, 119, 171, .3);
    border-bottom: 10px solid rgba(82, 119, 171, .3);
}
.middle-row {
    background-color: none;
    color: white;
    max-width: 50rem;
    margin: 10rem auto 10rem auto;
}
.middle-row h1 {
    font-size: 35px;
}
.middle-row p {
    font-size: 20px;
}
.topnav a {
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
}
.topnav {
    margin-top: 40px;
    float: right;
}
.icons {
    font-size: 50px;
}
.center-box {
    box-shadow: 1px 1px 1px 1px lightgray;
}
.box {
    padding: 50px;
}
.white {
    padding: 50px;
    border-bottom: 10px solid rgba(82, 119, 171, .3);
    border-top: 10px solid rgba(82, 119, 171, .3);
}
footer {
    text-align: center;
    background-color: black;
    color: white;
    min-height: 75px;
    padding: 50px;
}
.projects {
    background-color: #5277AB;
    padding: 25px;
    margin: 75px 0;
}