@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Zilla+Slab");
/*COLORS*/
/*BORDERS*/
@font-face {
  font-family: Avenir;
  src: url("avenir.otf") format("opentype");
}

body, html {
  height: 100%;
}

body {
  font-family: 'Avenir', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Avenir', sans-serif;
}

h1 {
  font-size: 12rem;
  font-weight: 900;
  text-align: center;
}

.orange {
  background-image: url("images/background-img.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom-section {
  background-color: #303744;
  background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
  background-attachment: fixed;
}

.main-text {
  color: white;
  margin-top: 4rem;
  background-color: rgba(91, 104, 127, 0.5);
  padding: 5rem;
  text-align: center;
}

.anker-peet {
  position: relative;
  top: 10rem;
  border: 0.7rem solid #73819a;
  max-width: 40rem;
  margin: 0 auto;
}

.header {
  background-color: none;
}

.blue {
  background-color: #303744;
  border-top: 0.7rem solid #73819a;
  border-bottom: 0.7rem solid #73819a;
}

.middle-row {
  background-color: none;
  color: white;
  margin: 15rem auto 15rem auto;
}

.middle-row h2 {
  font-size: 4rem;
}

.middle-row p {
  font-size: 2rem;
}

.topnav a {
  text-decoration: none;
  padding: 1rem;
  font-size: 1.8rem;
  color: white;
  font-weight: 700;
}

.topnav a:hover {
  border-bottom: #5b687f solid 0.3rem;
}

.topnav {
  margin-top: 4rem;
  float: right;
}

.icons {
  font-size: 10rem;
  max-width: 10rem;
  height: auto;
}

.box {
  color: black;
}

.box:hover {
  box-shadow: 1px 1px 1px 1px lightgray;
}

.white {
  padding: 10rem;
}

.white h2 {
  font-size: 9rem;
  text-align: center;
}

footer {
  text-align: center;
  background-color: #5b687f;
  color: white;
  padding: 5rem;
}

.projects {
  background-color: #73819a;
  padding: 5rem;
  margin: 5rem 0 0 0;
}

#portfolio {
  padding-bottom: 5rem;
}

@media only screen and (max-width: 767px) {
  .anker-peet {
    max-width: 80vw;
    margin: 50 auto 50 auto;
  }
  .main-text {
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
  }
  h1 {
    font-size: 90px;
  }
}
