@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');

/*COLORS*/
$primary-color: rgba(91, 104, 127, 1.0);
$secondary-color: darken($primary-color, 20%);
$secondary-hover: darken($primary-color, 10%);
$primary-light: lighten($primary-color, 10%);
$light-text: white;
$primary-opaque: opacify($primary-color, 0.2);
/*BORDERS*/
$main-border: .7rem solid $primary-light;

@font-face {
    font-family: Avenir;
    src: url("avenir.otf") format("opentype");
}

//Ankers bootstrap replacement
// .container {
//     max-width: 75vw;
//     margin: 0 auto;
//     display: flex;
//     flex-direction: column;
// }
// .row {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
// }




//END

//General Settings
body, html {
    height: 100%;
}
body {
    font-family: 'Avenir', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Avenir', sans-serif;
}
h1 {
    font-size: 12rem;
    font-weight: 900;;
    text-align: center;
}

//Navbar
.topnav a {
    text-decoration: none;
    padding: 1rem;
    font-size: 1.8rem;
    color:$light-text;
    font-weight: 700;
}
.topnav a:hover {
    text-decoration: none;
    border-bottom: $primary-color solid .3rem;
}
.topnav {
    margin-top: 4rem;
    float: right;
}
.header {
    background-color: none;
}

//Top section
.orange {
    background-image: url("images/background-img.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-text {
    color: $light-text;
    margin-top: 4rem;
    background-color: rgba($primary-color, 0.5);
    padding: 5rem;
    text-align: center;
}
.anker-peet {
    position: relative;
    top: 10rem;
    border: $main-border;
    max-width: 40rem;
    margin: 0 auto;
}

//Middle Section
.blue {
    background-color: $secondary-color;
    border-top: $main-border;
    border-bottom: $main-border;
}
.middle-row {
    background-color: none;
    color: $light-text;
    margin: 15rem auto 15rem auto;
}
.middle-row h2 {
    font-size: 4rem;
}
.middle-row p {
    font-size: 2rem;
}

//Skills
.icons {
    font-size: 10rem;
    max-width: 10rem;
    height: auto;
}
.box {
    color: rgba(0, 0, 0, 1.0);
    padding: 5rem;
    max-width: 25rem;
    max-height: 25rem;
}
.box:hover {
    box-shadow: 1px 1px 1px 1px lightgray;
}
.white {
    padding: 10rem;
}
.white h2 {
    font-size: 9rem;
    text-align: center;
}

//Projects section
a img {
    width: 100%;
    height: auto;
}
.projects {
    margin: 5rem 0 0 0;
}
.projects:hover {
    background-color: $primary-opaque;
    
}
#portfolio {
    padding-bottom: 5rem;
}
.bottom-section {
    background-color: $secondary-color;
    background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
    background-attachment: fixed;
}

//Footer
footer {
    text-align: left;
    font-size: 2rem;
    background-color: $primary-color;
    color: $light-text;
    padding: 5rem;
}

//Contact form
form {
    width: 100%;
    font-size: 1.5rem;
    border: solid .7rem $primary-light;
    background-color: $primary-light;
}
.form-control {
    border: none;
    border-radius: 0px;
    height: 5rem;
}
button {
    margin-top: .7rem;
    background-color: $primary-color;
    color: $light-text;
    padding: 15px;
    border: none;
    transition: .5s ease;
}
button:hover {
    background-color: $secondary-hover;
    color: $light-text;
    transition: .5s ease;
}
.contact-form {
    margin: 0 auto;
}
textarea {
    resize: vertical;
}
footer a i {
    color: white;
    font-size: 4rem;
}
footer a i:hover {
    color: $secondary-color;
}




//Mobile Classes
@media only screen and (max-width: 767px) {
    .anker-peet {
        max-width: 80vw;
        margin: 50 auto 50 auto;
    }
    .main-text {
        text-align: center;
        padding-left: 25px;
        padding-right: 25px;
    }
    h1 {
        font-size: 7rem;
    }
    .white h2 {
        font-size: 6rem;
        text-align: center;
    }
}